container_commands:
  01_migrate:
    command: "python backend/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python backend/manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "conTrackt.settings" # 🐍 Tells Django which settings file to use
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: "static/" #  Tells Nginx to serve the /static/ URL from the root 'static' folder